
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 800px;
}

header {
  backdrop-filter: blur(5px);
  background-color:transparent;
  color: #fff;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us{
  height: 490px;
}
.title-au{
  color:white;
  text-align:center;
  text-decoration: underline;
  text-underline-offset: 7px;
}
.title-h2{
  color:white;
  text-align:center;
  text-decoration: underline;
  text-underline-offset: 7px;
}

.para-content{
  color:white;
  text-align:center;
  padding-right:100px;
  padding-left:100px;

}


.app-info {
  display: flex;
  align-items: center;
}


.title{
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
  font-size: 20px;
  
}

.app-icon {
  max-width: 45px;
  margin-left: 10px;
  border-radius: 10px;
  

}

.navbar {
  background-color:transparent;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin: 0 15px;
  font-size: 14px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #4caf50;
}

.welcome-note {
color:white;
text-align: center;
  /* max-width: 700px; */
  margin: 20px auto;
  padding: 20px;
  /* margin-top: */

}

.container {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('pics/bicycle.jpg');
  background-position: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

/* Side Menu Styles */
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.side-menu a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.side-menu a:hover {
  color: rgb(174, 242, 245);
}

.menu-button {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px; /* Add margin to separate from other elements */
  margin-right: 10px;
}

/* Close icon inside the menu */
.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}




/* Footer Styles */
.footer {
background-color: #333;
color: #fff;
padding: 40px 0;
}

.footer-logo p {
font-size: 14px;
margin-bottom: 20px;
}
.footer-logo img {
height: 55px;
width: auto;
margin-right: 10px;
}

.follow-us {
text-align: center;
margin-top: 20px;
}

.follow-us h3 {
font-size: 18px;
margin-bottom: 10px;
margin-top: 40px;
}

.social-media-link {
display: inline-block;
text-decoration: none;
color: #fff;
margin-right: 20px;
font-size: 14px;
}

.social-media-link img {
width: 30px;
height: 30px;
margin-right: 5px;
vertical-align: middle;
border-radius: 50%;
}


.footer-title {
font-size: 24px; /* Adjust font size as needed */
font-family: "cursive", "Lucida Handwriting", "Brush Script MT", cursive;
margin-left: 550px; /* Adjust margin as needed */
}

.footer-content {
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}

.footer-text{
margin-top: 8px;
margin-left: 565px;;
}
.footer-section {
width: 30%; /* Adjust the width as needed */
margin-bottom: 20px;
margin-left:20px;
}

.footer-section h2 {
font-size: 18px;
margin-bottom: 10px;
}

.footer-section p {
font-size: 14px;
}

.social-media {
list-style: none;
padding: 0;
}

.social-media li {
display: inline-block;
margin-right: 10px;
}

.quick-links {
list-style: none;
padding: 0;
}

.quick-links li {
margin-bottom: 10px;
}

.quick-links a {
text-decoration: none;
color: #fff;
font-size: 14px;
}

.quick-links a:hover {
text-decoration: underline;
}


.contact-us {
  
  padding: 40px;
  background-color:transparent;
  margin-top: 20px;
  text-align: center;
}

.contact-content {
  color:white;
  max-width: 800px;
  margin: 0 auto;
}

.contact-content h1 {
  color:white;
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-content p {
  font-size: 18px;
  color:white;
  margin-bottom: 20px;
}

.contact-content form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-content form input[type="text"],
.contact-content form input[type="email"],
.contact-content form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.contact-content form button[type="submit"] {
  padding: 10px 20px;
  background-color: #1c5f60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}